<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Bind it!</h3>
      <ol>
        <li>Crea tres nuevos componentes: GameControl, Odd y Even</li>
        <li>El componente GameControl debe tener botones para iniciar y detener el juego.</li>
        <li>Al iniciar el juego, debe emitirse un evento (con un número creciente) cada segundo (ref = setInterval())
        </li>
        <li>El evento debe ser escuchable desde fuera del componente.</li>
        <li>Al detener el juego, no se deben emitir más eventos (clearInterval(ref))</li>
        <li>Se debe crear un nuevo componente impar para cada número impar emitido, lo mismo debe suceder para el
          componente
          par (en números pares)</li>
        <li>Simplemente emita Impar - NÚMERO o Par - NÚMERO en los dos componentes</li>
        <li>Diseñe el elemento (por ejemplo, párrafo) que contiene su texto de salida de manera diferente en ambos
          componentes</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd>
      <app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even>
    </div>
  </div>
</div>